.container#content {
    margin-top: 5rem;
  }
  body {
    background-color: $pitch-black;
    font-family: $site-font;
    color: $white; 
  }
  a {
    color: $crimson;
    transition: .5s ease; 
    &:hover {
      color: $darker-crimson;
      text-decoration: none;
    }
  }
  h1 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .navbar {
    background-color: $pitch-black;
    // border-right: 1px solid rgba(0, 0, 0, 0.4);
    // border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    line-height: 1;
  }
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-brand {
    color: $crimson;
    transition: .5s ease; 
    &:hover {
      color: $darker-crimson;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }

  .titles {
    font-weight: 900; 
    color: $crimson; 
    margin-bottom: 2rem; 
  }

  .subtitles {
    font-weight: 500;
    color: $crimson;
  }

  .postTitles{
    font-weight: 900; 
  }

  .myLogo {
    width: 3rem;
    height: 3rem; 
  }

  .myLogo-footer {
    width: 3rem;
    height: 3rem; 
  }

  .glossaryEntry {
    font-size: 2rem; 
  }