.card {
    margin-bottom: 2rem; 
}

ul.post-tags {
    padding: 0; 
    display: inline-flex;
    list-style: none; 

    li {
        margin-right: 10px; 
    }

    @media screen and (max-width: 400px) {
        flex-wrap: wrap; 

        li {
            margin: .2rem; 
        }
    }
}