.site-footer {
    background-color: $pitch-black;
    margin-top: 1.2rem;
    padding: .6rem;
    text-align: center;
    color: $crimson; 

    .footerTitle {
      font-size: 1.5rem; 
    }

    .myLogo-footer {
      width: 3rem;
      height: 3rem; 
    }
  
    .footer-social-links {
      text-align: center;
  
      ul.social-links-list {
        li {
          margin: 0 .7rem;
          display: inline-block;
  
          a {
            color: $dark-gray;
  
            &.instagram:hover {
              color: #e95950;
            }
            &.facebook:hover {
              color: rgb(66, 103, 178);
            }
            &.twitter:hover {
              color: rgb(56, 161, 243);
            }
            &.google:hover {
              color: rgb(221, 75, 57);
            }
            &.linkedin:hover {
              color: rgb(0, 119, 181);
            }
          }
        }
      }
    }
  }