
.social-share-links {
    ul {
        display: inline-flex; 
        margin: 1rem; 

        li {
            margin: 1rem; 

            a {
                opacity: .7;
                transition: all .1s ease-in;
                &:hover {
                    opacity: 1; 
                }
                &.facebook {
                    color: rgb(66, 103, 178);
                  }
                  &.twitter {
                    color: rgb(56, 161, 243);
                  }
                  &.google {
                    color: rgb(221, 75, 57);
                  }
                  &.linkedin {
                    color: rgb(0, 119, 181);
                  }
            }
        }
    }
}