.card {
    border: none; 
}

.cardBody {
    background-color: $light-black; 
}

.myTags {
    background-color: $crimson; 
    padding: .4rem .9rem; 
    color: $pitch-black; 
}

.myButton {
    border: 1px solid $crimson; 
    color: $crimson; 
    background-color: $light-black; 
    transition: all .5 ease; 
    padding: .42rem .7rem; 
    border-radius: 5%;

    &:hover
    &:focus {
        filter: brightness(120%);
    }
}

