@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$site-font: 'Poppins', sans-serif; // placeholder till I die or find some better font 

$light-gray: rgb(240, 240, 240);
$pitch-black: #1a1a1a; 
$dark-gray: rgb(80, 80, 80);
$light-black: #2c2020; 
$white: white;
$crimson: #dc143c; 
$darker-crimson: #b01030; 